/* App.css */

.App {
  text-align: center;
  margin-top: 50px;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
  font-weight: bold;
}
